.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.activeLink {
    color: #d20303;
    text-decoration: none;
    font-weight: bold;
}

.notActiveLink {
    color: black;
    text-decoration: none;
}

.messages {
    color: #000000;
}

.peoples img {
    border-radius: 25px;
}

.messages {
    padding-top: 10px;
    line-height: 2.8;
}


.hookForm {
    line-height: 20px;
}