.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    font-size: 20px;
}

.dialogs .peoples {
}

.people.active  {
    color: gold;
}

.messages {
    color: pink;
}

