.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    padding: 10px;
}

.dialogs {
    font-size: 20px;
}

.dialogs .peoples {
}

.peoples .people.active {
    color: gold;
}

.messages {
}

.messages .message {
    color: pink;
}