.ava img {
    width: 250px;
}

.logo {
    border-radius: 25px;
}

.info {
    margin-bottom: 25px;
}

.data {
    margin-top: 25px;
}

.status {
    color: #0343cb;
    font-size: 25px;
    font-family: -apple-system;
    border-style: outset;
    border-width: 3px;
}

.statusUp {
    margin-top: 22px;
}