


.app-wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px 10px;
    padding: 10px 100px;

    grid-template-areas:
    "header header"
     "aside main"
     "footer footer";
}

.app-wrapper-main {
    grid-area: main;
    background-color: #c9c8c8;
    border-radius: 25px 25px 25px 25px;
    padding: 25px;
    font-size: 20px;
    border-style: solid;
}

.container {
    background-color: #835961;
}










