
.app-wrapper {
    display: grid;

    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    padding: 10px 150px;


    grid-template-areas:
    "header header"
     "aside main";
}

.app-wrapper-main {
    grid-area: main;
    background-color: #cc7b48;
}











