.App {
  text-align: center;
  color: YELLOW;
  list-style-type: georgian;
  background-color: black;
}

ul li {
  list-style-type: -moz-myanmar;
}

div {
  text-align: center;
  color: yellow;
  background-color: purple;
}

a {
  color: #f8d535;
}