header {
    grid-area: header;
    background-color: #fdd5f6;
    border-radius: 25px;
    border-style: solid;
}

.logo {
    width: 150px;
    padding: 15px;
    border-radius: 55px;
}

.front img {
    width: 150px;
    border-style: solid;
    margin: 30px 20px 0px 10px;
    border-radius: 10px;

}

.front {
    text-align: center;
}

.text {
    text-align: center;
    color: #b2112d;
}

.loginBlock {
    float: right;
    margin: 15px;
    font-family: -apple-system;
    font-size:25px;
    color: #ffffff;
    border-style: dotted;
    background-color: #000000;
    border-color: #030202;
    border-radius: 10px;
}

.login {
    float: right;
    font-family: -apple-system;
    font-size: 25px;
    color: #ffffff;
    background-color: #0029f8;
    border-radius: 10px;
}

.button {
    font-size: 27px;
    float: right;
    border-radius: 25px;
    margin-top: 15px;
    color: #000000;
    font-family: -apple-system;
    border-style: solid;
    background-color: #ffffff;


}