.aside {
    grid-area: aside;
    background-color: #efc797;
    padding: 20px;
}

.item a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
}

.item a.activeLink{
    color: deeppink;
}

