.footer {
    display: grid;
    grid-area: footer;
    background-color: #aeafb0;
    text-align: center;
    border-radius: 25px;
    border: 4mm ridge rgb(148, 145, 145);;
}

.footer img {
    width: 150px;
    margin: 10px;
    border-radius: 25px;

}
